@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}


h3 {
	text-align: center;

}
.topnav {
	overflow: hidden;
	background-color: rgb(219, 63, 63);
}
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
.topnav a.active {
	background-color: rgb(63, 79, 226);
	color: white;
}



.topnav .login-container {
	float: right;
  }
  
  .topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width:120px;
  }
  
  .topnav .login-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background-color: #555;
	color: white;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .topnav .login-container button:hover {
	background-color: rgb(63, 79, 226);
  }
  
  @media screen and (max-width: 600px) {
	.topnav .login-container {
	  float: none;
	}
	.topnav a, .topnav input[type=text], .topnav .login-container button {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	.topnav input[type=text] {
	  border: 1px solid #ccc;  
	}
  }
  


.banner{
	text-align: center;
}
.kopje{
	text-align: center;
}
.abonnement{
	text-align: center;
}
.abovak{
	border: 0.5px solid black;
	border-radius: 10px;
	height: 500px;
	width: 300px;
	margin-left: 80px;
	background-color: rgb(204, 204, 204);
}
.abovak_home{
	border: 0.5px solid black;
	border-radius: 10px;
	height: 500px;
	width: 300px;
	margin-left: 420px;
	background-color: rgb(204, 204, 204);
}
.info{
	text-align: center;
	margin-top: 20px;
}
.knop a{
	text-decoration: none;
	color: black;
}
.knop a:hover{
	color: white;
}

.knop{
	text-align: center;
	align-self: center;
	background-color: rgb(63, 79, 226);
	width: 100px;
	height: 35px;
	border: 1px solid black;
	border-radius: 10px;
	margin-left: 100px;
}
.tekst h3{
	text-align: center;
}

#rij{
	margin-top: 85px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid  rgb(219, 63, 63);
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: rgb(219, 63, 63);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: rgb(63, 79, 226);
  }
  
  .footer {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	
  }


  .abonement {
	border: 2px solid yellow;
	width: 350px;
	height: 500px;
	float: left;
	margin: 60px;
	margin-left: 10%;
	border-radius:50px;
	background-color:#bbb;
	padding:0;
  }

  .abonement-header {
	  width:100%;
	  height:100px;
	  margin-top:0;
  }

  .abonement-naam {
	  text-align: center;
	  margin-top:25%;
	  font-family: 'Varela Round', sans-serif;
  }

  .abonement-link {
	  position: absolute;
	  bottom: 5px;
	  width:100%;
	  height:25px;
	  margin:20px;

  }

  .abonement-link a {
	  text-align: center;
	  width:100px;
	  background-color:#ffc266;
	  padding:20px;
	  padding-left:35%;
	  padding-right:35%;
	  font-family: 'Varela Round', sans-serif;
	  font-size:25px;
	  border-radius:25px;
	  border:solid 4px #ff9933;
	  color:black;
	  text-decoration:none;
  }

  .abonement-content {
	  position: relative;
	  width:100%;
	  height:50%;
  }

  .abonement-content h2 {
	  text-align:center;
	  padding:20px;
	  font-size:45px;
  }