html {
	font-family:arial;
}



#Admin-Header p {
	float:left;
}

#Admin-Header a {
	margin-left:20px;
	margin-top:20px;
}

#Admin-Header ul {
	list-style:none;
}

#Admin-Header ul li {
	float:left;
}

#content {
	margin-top:100px;
}

form {
	
	margin-left: 20px;
	font-size: 40px;
	
}
#content ul li {
	margin-bottom:20px;
}

table, th, td {
  border: 1px solid black;
}

th{
	background-color: green;
}